body {
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  display: grid;
  grid-template-areas:
    'header header header'
    'nav content right';
  height: 100vh;
  grid-template-columns: 300px 1fr 200px;
  grid-template-rows: auto 1fr;
}

.header {
  grid-area: header;
}

.nav {
  grid-area: nav;
}

.main {
  padding: 1.5rem;
  grid-area: content;
}
